body, html {
    height: 100%;
    margin: 0;
}

.header {
    font-family: "Amatic SC", sans-serif;
    font-size: 25px;
    padding: 5px;
    height: 500px;
    text-align: center;
    background-image: url('img/smudge.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:10px;
}

ul,
li {
    list-style: none;
}

.header-nav li a {
    overflow: hidden;
    float: left;
    width: 15%;
    color: red;
}

h1 {
    font-size: 80px;
    color: rgb(253, 93, 0);
}

h2,
h3,
h4 {
    font-family: "Amatic SC";
    font-size: 45px;
    color: white;
}

h2 {
    background-color: #03423f;
    border-radius: 10px;
}

img {
    border-radius: 8px;
    object-fit: cover;
    height: 100%;
}

figure {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.reservations {
    background-color: #03423f;
    width: 100%;
}

.block {
    display: grid;
    grid-gap: 2px 2px;
    background-color: #ECEFF1;
}

@media screen and (min-width: 768px) {
    .block {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .block {
        grid-template-columns: repeat(3, 1fr);
    }
    .block>figure:nth-of-type(3) {
        grid-column: 2/4;
        grid-row: 1/3;
    }
    figcaption {
        background-color: #222;
        color: #fff;
        font: italic smaller sans-serif;
        text-align: center;
    }
}

.footer {
    background-color: teal
}